body {
    margin: 0;
}
.heroContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.contentWrapper {
    display: flex;
    justify-content: center;
}

.imgContainer {
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
}

.imgContainer img {
    width: 100%;
    height: 100%;
}

.weatherInfo {
    padding-left: 30px;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.weatherInfo h3 {
    margin-top: 0;
}

.weatherInfo p {
    margin: 8px 0 8px 0;
}

.error {
    background-color: red;
}

.inputWrapper {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#searchInput {
    height: 100%;
    font-size: 1.2em;
}
#searchBtn {
    position: relative;
    background-color: darkblue;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 1.5em;
    border-radius: 5px;
}

#searchBtn:hover {
    cursor: pointer;
}

.searching .buttonText {
    visibility: hidden;
    opacity: 0;
    background-color: burlywood;
}

.searching::after {
    content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
    from {
      transform: rotate(0turn);
    }
  
    to {
      transform: rotate(1turn);
    }
  }